@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>About Me</h1>

<p>
    I am Michael J Homsey, a software engineer, solutions architect and business analyst in Melbourne. I graduated from the University of Monash with my 
    undergraduate degree in 2006 and later completed my post graduate degree in 2012.
</p>

<p>
    My love of technology and quality stems back to childhood. As my long time proven competency of technology consistently reinvented itself, the 
    decision to study computer science was from no fairy-tale novel. I considered becoming a teacher for the honour of the profession but the school 
    careers councillor strongly warned against my idea in light of my personality and ambitions. I also considered law school which was compensated in 
    my post graduate as I took business law subjects.
</p>

<p>
    Unfortunately, my personality emphatically does not resemble one who would spend much time developing software. I attentively study technology 
    however my social activities and interest bases are predominately arts focused. What keeps me interested in technology is my desire to engineer 
    flexible solutions that have fully interchangeable behaviours and components on the fly. In addition, I am heavily drawn to software engineering 
    from product perspectives. This is due to the rewarding economic, consumer and business benefits that can be achieved when executed with good practises.
</p>

<p>
    In direct relation to my blogging site, I will be writing about my technology interests and developments. 
    I intend to blog a wide range of topics which will demonstrate my point of view on technology matters and the many problems that need to be solved. 
    That’s all about me for now, the rest is only one click away!
</p>