@{
    ViewBag.Title = "About My Blog";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Welcome to my blog!</h1>

<p>
    The purpose of my blog is to keep me on my toes! There are many obstacles in software engineering but I firmly believe the most prevalent problem 
    appears to be the rapid change of technology. I have witnessed programmers who were once highly sort after today, become old school tomorrow. 
    The learning curve doesn’t plateau and many Tekki’s fail to realise this quickly enough. Welcome to my laboratory and haven of all things that keeps 
    me learning!
</p>

<p>
    From my experience, the best technologists are never short on practise. They have curious minds, keen eyes improve existing solutions, understand the 
    background of the business or technical space and most importantly, they stay ahead of the curve.
</p>

<p>
    There are exterior problems that face developers. Firstly, you will only slowly improve at writing code from the workplace. 
    The workplace will provide invaluable experience through the exposure to unique business problems, coverage over multiple technologies and 
    contact with other technology experts. These are great attributes to success but they merely aid in the growth process of a strong developer. 
    To become a strong programmer you need to practise at home and design custom solutions. You need to be able to question why one approach is 
    better than another. Importantly, you often need to communicate to business people, so learning how to talk to a computer still isn’t the full 
    picture of the profession. 
</p>

<p>
    Only in the last two years, I have started to read technology magazines, blogs and books. I never read books on code, rather methodologies and practises. 
    The collection is filling up the bookshelf and day-to-day problems are becoming less surprising as a result. 
    Not only has external reading material been a huge aid to my technical development, it has also aided much of my business knowledge as a Technical Analyst.
</p>

<p>
    Despite what I write in my blog, I still have much learning to do. I have many projects that are in progress and many more will arrive for me to tackle. 
    Every solution is a learning experience. If its something that I have done already then it’s a challenge to make it perfect in a smaller period of time. 
    No matter what people tell you to do, you can always make it into something challenging.
</p>

<p>
    In my blog, I want to write articles on everything. I hope to learn and ultimately be a positive influence to those who wish to read it. 
    And I hope they do!
</p>
