@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Contact Me</h1>

<div class="clearFix topSeparator">
    <div style="float: left">
        <a href="mailto:homseym@googlemail.com"><img src="/MediaLibrary/Images/GoogleMail.png" /></a>
    </div>
    <div class="contentContact">
        <strong>You can email me at: <a href="mailto:homseym@googlemail.com">homseym@googlemail.com</a></strong>

        <p>
            If you wish to contact me, email me! I will make every effort to respond to your email. 
            If you have a comment to make, please do so below otherwise, I'm happy to help.
        </p>
    </div>
</div>

<div class="clearFix topSeparator">
    <div style="float: left">
        <a href="https://twitter.com/MickyHomsey" target="_blank"><img src="/MediaLibrary/Images/Twitter.png" /></a>
    </div>
    <div class="contentContact">
        <strong>Talk to me on Twitter: <a href="https://twitter.com/MickyHomsey" target="_blank">@@MickyHomsey</a></strong>

        <p>
            I tweet all sorts of stuff, both tech and non-tech related. If you are on twitter, join the discussions.
            I post updates periodically and ask questions regarding various topics.
        </p>
    </div>
</div>

<div class="clearFix topSeparator">
    <div style="float: left">
        <a href="http://au.linkedin.com/in/mhomsey" target="_blank">
            <img src="/MediaLibrary/Images/Linkedin.png" width="100" border="0" alt="View Michael Homsey's profile on LinkedIn" />
        </a>
    </div>
    <div class="contentContact">
        <strong>Linkedin - No surprises there: <a href="http://au.linkedin.com/in/mhomsey" target="_blank">Michael J Homsey</a></strong>

        <p>
            Join me on the professional global network of Linkedin. I am associated with a variety of technology and business related groups.
            Networking is an essential aspect of growing and finding out all sorts of trends such as what other professionals are trying 
            to achieve, what the market is doing and what problems people are trying to solve.
        </p>
    </div>
</div>