<div>
    <img src="/MediaLibrary/Images/MichaelHomsey.jpg" alt="Me" class="profilePhoto" />
    <p><strong><u>Michael J Homsey</u></strong></p>
    <p>
        Solutions Architect
        <br />
        ASP.NET Software Developer
        <br />
        Business Analyst
    </p>
</div>
